
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PIL Detay</title>
    <link rel="stylesheet" href="~/css/PIL.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    @await Html.PartialAsync("_navbar")

    <style type="text/css">
</style>
<div class="tg-wrap"><table class="tg" style="undefined;table-layout: fixed; width: 1205px">
<colgroup>
<col style="width: 60px">
<col style="width: 65px">
<col style="width: 51px">
<col style="width: 91px">
<col style="width: 67px">
<col style="width: 103px">
<col style="width: 78px">
<col style="width: 114px">
<col style="width: 126px">
<col style="width: 77px">
<col style="width: 126px">
<col style="width: 105px">
<col style="width: 78px">
<col style="width: 64px">
</colgroup>
<tbody>
  <tr>
    <td class="tg-i7tl">P</td>
    <td class="tg-plvj" colspan="13">PHYSICAL INVENTORY&nbsp;&nbsp;&nbsp;LISTING (PIL)</td>
  </tr>
  <tr>
    <td class="tg-06g2" colspan="3">COUNTRY   CODE</td>
    <td class="tg-apxg" colspan="2" contenteditable="true"> </td>
    <td class="tg-06g2" colspan="2">CONSICE NOTE REPORT LEVEL</td>
    <td class="tg-apxg" contenteditable="true"></td>
    <td class="tg-06g2">PIL DATE</td>
    <td class="tg-apxg" contenteditable="true"> </td>
    <td class="tg-06g2" colspan="4">           </td>
  </tr>
  <tr>
    <td class="tg-lsca" colspan="3">FACILITY   CODE</td>
    <td class="tg-wbto" colspan="2" contenteditable="true"> </td>
    <td class="tg-lsca" colspan="3" rowspan="2"> </td>
    <td class="tg-lsca">REPORT NO. </td>
    <td class="tg-wbto" contenteditable="true"></td>
    <td class="tg-lsca">REPORT   DATE</td>
    <td class="tg-wbto" contenteditable="true"></td>
    <td class="tg-6qt4" colspan="2" rowspan="2"> </td>
  </tr>
  <tr>
    <td class="tg-lsca" colspan="3">MATERIAL BALANCE AREA</td>
    <td class="tg-wbto" colspan="2" contenteditable="true"> </td>
    <td class="tg-lsca">REPORT STATUS</td>
    <td class="tg-wbto" contenteditable="true"></td>
    <td class="tg-lsca">ENCODER NAME</td>
    <td class="tg-wbto" contenteditable="true"></td>
  </tr>
  <tr>
    <td class="tg-m365" colspan="14">                          </td>
  </tr>
  <tr>
    <td class="tg-yu9i" colspan="6">           </td>
    <td class="tg-duwi" colspan="4">ACCOUNTANCY DATA</td>
    <td class="tg-yu9i" colspan="2">   </td>
    <td class="tg-duwi" colspan="2">CORRECTION TO</td>
  </tr>
  <tr>
    <td class="tg-6qt4">ENTRY NO</td>
    <td class="tg-6qt4">ENTRY STATUS</td>
    <td class="tg-6qt4">KMP CODE</td>
    <td class="tg-6qt4">NAME OR NUMBER OF BATCH<br>(max. 16 char.)</td>
    <td class="tg-6qt4">NUMBER OF ITEMS IN BATCH</td>
    <td class="tg-6qt4">MATERIAL DESCRIPTION</td>
    <td class="tg-6qt4">ELEMENT</td>
    <td class="tg-6qt4">WEIGHT OF ELEMENT (g)(max. 20 char.)</td>
    <td class="tg-6qt4">WEIGHT OF FISSILE ISOTOPES (URANIUM ONLY) (g)<br>(max. 20 char.)</td>
    <td class="tg-6qt4">ISOTOPE CODE</td>
    <td class="tg-6qt4">MEASUR.BASIS</td>
    <td class="tg-6qt4">CONCISE NOTE <br>ENTRY</td>
    <td class="tg-6qt4">REPORT NO.</td>
    <td class="tg-6qt4">ENTRY NO.</td>
  </tr>
  <tr>
    <td class="tg-7zrl" contenteditable="true"></td>
    <td class="tg-7zrl" contenteditable="true"></td>
    <td class="tg-7zrl" contenteditable="true"></td>
    <td class="tg-8d8j" contenteditable="true"></td>
    <td class="tg-8d8j" contenteditable="true"></td>
    <td class="tg-8d8j" contenteditable="true"></td>
    <td class="tg-8d8j" contenteditable="true"></td>
    <td class="tg-7zrl" contenteditable="true"></td>
    <td class="tg-7zrl" contenteditable="true"></td>
    <td class="tg-7zrl" contenteditable="true"></td>
    <td class="tg-7zrl" contenteditable="true"></td>
    <td class="tg-7zrl" contenteditable="true"></td>
    <td class="tg-7zrl" contenteditable="true"></td>
    <td class="tg-7zrl" contenteditable="true"></td>
  </tr>
</tbody>
</table></div>

</body>
</html>

