
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ICR Detay</title>
    <link rel="stylesheet" href="~/css/CN.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    @await Html.PartialAsync("_navbar")

    <style type="text/css">
</style>
<div class="tg-wrap"><table class="tg" style="undefined;table-layout: fixed; width: 903px">
<colgroup>
<col style="width: 60px">
<col style="width: 93px">
<col style="width: 81px">
<col style="width: 75px">
<col style="width: 103px">
<col style="width: 151px">
<col style="width: 114px">
<col style="width: 126px">
<col style="width: 100px">
</colgroup>
<tbody>
  <tr>
    <td class="tg-ia45">CN</td>
    <td class="tg-plvj" colspan="8">CONCISE NOTES (CN) FORM</td>
  </tr>
  <tr>
    <td class="tg-06g2" colspan="4">COUNTRY CODE</td>
    <td class="tg-apxg"> </td>
    <td class="tg-06g2" colspan="2">DATE</td>
    <td class="tg-apxg"> </td>
    <td class="tg-phgw" rowspan="3"> <br><br></td>
  </tr>
  <tr>
    <td class="tg-6qt4" colspan="5" rowspan="2">     <br>    </td>
    <td class="tg-67fy" colspan="3">   </td>
  </tr>
  <tr>
    <td class="tg-lsca" colspan="2">ENCODER NAME</td>
    <td class="tg-wbto"> </td>
  </tr>
  <tr>
    <td class="tg-0nob" colspan="9"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
  </tr>
  <tr>
    <td class="tg-6qt4">ENTRY NO.</td>
    <td class="tg-6qt4">MBA Code</td>
    <td class="tg-6qt4">REPORT NUMBER</td>
    <td class="tg-6qt4">ENTRY NUMBER</td>
    <td class="tg-t5xj" colspan="5">TEXT OF CONCISE NOTE (max. 2000 characters)</td>
  </tr>
  <tr>
    <td class="tg-za14" contenteditable="true"></td>
    <td class="tg-za14" contenteditable="true"></td>
    <td class="tg-za14" contenteditable="true"></td>
    <td class="tg-za14" contenteditable="true"></td>
    <td class="tg-za14" colspan="5" contenteditable="true"></td>
  </tr>
</tbody>
</table></div>



</body>
</html>
