
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ICR Detay</title>
    <link rel="stylesheet" href="~/css/ICR.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    @await Html.PartialAsync("_navbar")
<div class="tg-wrap"><table class="tg" style="undefined;table-layout: fixed; width: 1738px">
<colgroup>
<col style="width: 46px">
<col style="width: 65px">
<col style="width: 100px">
<col style="width: 58px">
<col style="width: 50px">
<col style="width: 93px">
<col style="width: 52px">
<col style="width: 114px">
<col style="width: 81px">
<col style="width: 129px">
<col style="width: 151px">
<col style="width: 104px">
<col style="width: 78px">
<col style="width: 97px">
<col style="width: 181px">
<col style="width: 71px">
<col style="width: 72px">
<col style="width: 77px">
<col style="width: 66px">
<col style="width: 53px">
</colgroup>
<tbody>
  <tr>
    <td class="tg-rcsd">I</td>
    <td class="tg-byc5" colspan="19">INVENTORY CHANGE REPORT (ICR)</td>
  </tr>
  <tr>
    <td class="tg-q0ar" colspan="3">COUNTRY CODE</td>
    <td class="tg-hktu" colspan="2" contenteditable="true">   </td>
    <td class="tg-q0ar" colspan="2">CONSICE   NOTE REPORT LEVEL</td>
    <td class="tg-hktu" contenteditable="true"> </td>
    <td class="tg-zfqk"> </td>
    <td class="tg-zfqk"> </td>
    <td class="tg-q0ar" colspan="2">PERIOD COVERED BY REPORT   FROM</td>
    <td class="tg-hktu" colspan="2" contenteditable="true">   </td>
    <td class="tg-q0ar">TO</td>
    <td class="tg-hktu" contenteditable="true"> </td>
    <td class="tg-zfqk" colspan="4">    </td>
  </tr>
  <tr>
    <td class="tg-weej" colspan="3">FACILITY CODE</td>
    <td class="tg-nyxm" colspan="2" contenteditable="true">   </td>
    <td class="tg-t1ms"> </td>
    <td class="tg-t1ms"> </td>
    <td class="tg-t1ms"> </td>
    <td class="tg-t1ms"> </td>
    <td class="tg-t1ms"> </td>
    <td class="tg-weej">REPORT NO</td>
    <td class="tg-nyxm" contenteditable="true"> </td>
    <td class="tg-t1ms"> </td>
    <td class="tg-t1ms"> </td>
    <td class="tg-weej">REPORT DATE</td>
    <td class="tg-nyxm" contenteditable="true"> </td>
    <td class="tg-t1ms" colspan="4">    </td>
  </tr>
  <tr>
    <td class="tg-weej" colspan="3">MATERIAL BALANCE AREA</td>
    <td class="tg-nyxm" colspan="2" contenteditable="true">   </td>
    <td class="tg-t1ms"> </td>
    <td class="tg-t1ms"> </td>
    <td class="tg-t1ms"> </td>
    <td class="tg-t1ms"> </td>
    <td class="tg-t1ms"> </td>
    <td class="tg-weej">REPORT STATUS</td>
    <td class="tg-nyxm" contenteditable="true"></td>
    <td class="tg-t1ms"> </td>
    <td class="tg-t1ms"> </td>
    <td class="tg-weej">ENCODER NAME</td>
    <td class="tg-nyxm" contenteditable="true"> </td>
    <td class="tg-t1ms" colspan="4">    </td>
  </tr>
  <tr>
    <td class="tg-nmrp" colspan="20">                                       </td>
  </tr>
  <tr>
    <td class="tg-0nob" colspan="3">     </td>
    <td class="tg-t5xj" colspan="2">MBA/COUNTRY</td>
    <td class="tg-0nob" colspan="7">           </td>
    <td class="tg-t5xj" colspan="4">ACCOUNTANCY DATA</td>
    <td class="tg-0nob" colspan="2">   </td>
    <td class="tg-t5xj" colspan="2">CORRECTION TO</td>
  </tr>
  <tr>
    <td class="tg-t5xj">ENTRY NO.</td>
    <td class="tg-t5xj">ENTRY STATUS</td>
    <td class="tg-t5xj">DATE OF <br>INVENTORY<br>CHANGE<br>(yyyy-mm-dd)</td>
    <td class="tg-t5xj">FROM</td>
    <td class="tg-t5xj">TO</td>
    <td class="tg-t5xj">TYPE OF <br>INVENTORY CHANGE</td>
    <td class="tg-t5xj">KMP CODE</td>
    <td class="tg-t5xj">NAME OR NUMBER<br>OF BATCH<br>(max. 16 char.)</td>
    <td class="tg-t5xj">NUMBER OF ITEMS <br>IN BATCH</td>
    <td class="tg-t5xj">SHIPPER'S BATCH <br>(max. 16 char.)</td>
    <td class="tg-t5xj">BURN UP (MWd/t)<br>(max. 10 char.)<br></td>
    <td class="tg-t5xj">MATERIAL <br>DESCRIPTION</td>
    <td class="tg-t5xj">ELEMENT</td>
    <td class="tg-t5xj">WEIGHT OF <br>ELEMENT (g)<br>(max. 20 char.)</td>
    <td class="tg-t5xj">WEIGHT OF FISSILE ISOTOPES<br>(URANIUM ONLY) (g)<br>(max. 20 char.)</td>
    <td class="tg-t5xj">ISOTOPE CODE</td>
    <td class="tg-t5xj">MEASUR. BASIS</td>
    <td class="tg-t5xj">CONCISE NOTE <br>ENTRY</td>
    <td class="tg-t5xj">REPORT NO.</td>
    <td class="tg-t5xj">ENTRY NO.</td>
  </tr>
  <tr>
    <td class="tg-387r" contenteditable="true"></td>
    <td class="tg-387r" contenteditable="true"></td>
    <td class="tg-387r" contenteditable="true"></td>
    <td class="tg-387r" contenteditable="true"></td>
    <td class="tg-387r" contenteditable="true"></td>
    <td class="tg-387r" contenteditable="true"></td>
    <td class="tg-387r" contenteditable="true"></td>
    <td class="tg-387r" contenteditable="true"></td>
    <td class="tg-387r" contenteditable="true"></td>
    <td class="tg-387r" contenteditable="true"></td>
    <td class="tg-387r" contenteditable="true"></td>
    <td class="tg-387r" contenteditable="true"></td>
    <td class="tg-387r" contenteditable="true"></td>
    <td class="tg-387r" contenteditable="true"></td>
    <td class="tg-387r" contenteditable="true"></td>
    <td class="tg-387r" contenteditable="true"></td>
    <td class="tg-387r" contenteditable="true"></td>
    <td class="tg-387r" contenteditable="true"></td>
    <td class="tg-387r" contenteditable="true"></td>
    <td class="tg-387r" contenteditable="true"></td>
  </tr>
</tbody>
</table></div>
</body>
</html>
