
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MBR Detay</title>
    <link rel="stylesheet" href="~/css/MBR.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

     @await Html.PartialAsync("_navbar")

<div class="tg-wrap"><table class="tg" style="undefined;table-layout: fixed; width: 1004px">
<colgroup>
<col style="width: 60px">
<col style="width: 93px">
<col style="width: 81px">
<col style="width: 75px">
<col style="width: 103px">
<col style="width: 151px">
<col style="width: 114px">
<col style="width: 126px">
<col style="width: 100px">
<col style="width: 101px">
</colgroup>
<tbody>
  <tr>
    <td class="tg-ia45">M</td>
    <td class="tg-plvj" colspan="9">MATERIAL BALANCE REPORT (MBR)</td>
  </tr>
  <tr>
    <td class="tg-ks5o" colspan="2">COUNTRY CODE</td>
    <td class="tg-vbn2"> </td>
    <td class="tg-jgk4">CONCISE NOTE TO REPORT</td>
    <td class="tg-vbn2"></td>
    <td class="tg-ks5o">REPORTING PERIOD: FROM</td>
    <td class="tg-vbn2"></td>
    <td class="tg-ks5o" colspan="2">TO</td>
    <td class="tg-vbn2"></td>
  </tr>
  <tr>
    <td class="tg-xnx8" colspan="2">FACILITY CODE</td>
    <td class="tg-gxja"></td>
    <td class="tg-xnx8"> </td>
    <td class="tg-xnx8"></td>
    <td class="tg-xnx8">REPORT NO.</td>
    <td class="tg-gxja"></td>
    <td class="tg-xnx8" colspan="2">REPORT DATE</td>
    <td class="tg-gxja"></td>
  </tr>
  <tr>
    <td class="tg-xnx8" colspan="2">MATERIAL BALANCE AREA</td>
    <td class="tg-gxja"> </td>
    <td class="tg-xnx8"> </td>
    <td class="tg-xnx8"></td>
    <td class="tg-xnx8">REPORT STATUS</td>
    <td class="tg-gxja"></td>
    <td class="tg-xnx8" colspan="2">ENCODER NAME</td>
    <td class="tg-gxja"></td>
  </tr>
  <tr>
    <td class="tg-0nob" colspan="10"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
  </tr>
  <tr>
    <td class="tg-0nob" colspan="3"></td>
    <td class="tg-6qt4" colspan="4">ACCOUNTANCY   DATA</td>
    <td class="tg-0nob"></td>
    <td class="tg-6qt4" colspan="2">CORRECTION TO</td>
  </tr>
  <tr>
    <td class="tg-t12g">ENTRY NO.</td>
    <td class="tg-t12g">ENTRY STATUS</td>
    <td class="tg-t12g">MBR ENTRY</td>
    <td class="tg-6qt4">ELEMENT</td>
    <td class="tg-6qt4">WEIGHT OF ELEMENT (g)<br>(max. 20 char.)</td>
    <td class="tg-6qt4">WEIGHT OF FISSILE ISOTOPES<br>(URANIUM ONLY) (g)  <br>(max. 20 char.)</td>
    <td class="tg-6qt4">ISOTOPE CODE</td>
    <td class="tg-t12g">CONCISE NOTE<br>ENTRY</td>
    <td class="tg-6qt4">REPORT NO.</td>
    <td class="tg-6qt4">ENTRY NO.</td>
  </tr>
  <tr>
    <td class="tg-za14" contenteditable="true"></td>
    <td class="tg-za14" contenteditable="true"></td>
    <td class="tg-za14" contenteditable="true"></td>
    <td class="tg-za14" contenteditable="true"></td>
    <td class="tg-za14" contenteditable="true"></td>
    <td class="tg-za14" contenteditable="true"></td>
    <td class="tg-za14" contenteditable="true"></td>
    <td class="tg-za14" contenteditable="true"></td>
    <td class="tg-za14" contenteditable="true"></td>
    <td class="tg-za14" contenteditable="true"></td>
  </tr>
</tbody>
</table></div>


</body>
</html>
