
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TR Form Detay</title>
    <link rel="stylesheet" href="~/css/TR.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    @await Html.PartialAsync("_navbar")

<div class="tg-wrap"><table class="tg" style="undefined;table-layout: fixed; width: 886px">
<colgroup>
<col style="width: 60px">
<col style="width: 93px">
<col style="width: 81px">
<col style="width: 75px">
<col style="width: 103px">
<col style="width: 151px">
<col style="width: 164px">
<col style="width: 53px">
<col style="width: 106px">
</colgroup>
<tbody>
  <tr>
    <td class="tg-ia45">T</td>
    <td class="tg-plvj" colspan="8">TEXTUAL REPORT (TR) FORM</td>
  </tr>
  <tr>
    <td class="tg-06g2" colspan="4">COUNTRY CODE</td>
    <td class="tg-apxg" contenteditable="true"> </td>
    <td class="tg-06g2">REPORT NO.</td>
    <td class="tg-apxg" contenteditable="true"> </td>
    <td class="tg-06g2">DATE</td>
    <td class="tg-ycr8" contenteditable="true"></td>
  </tr>
  <tr>
    <td class="tg-lsca" colspan="4">FACILITY CODE</td>
    <td class="tg-wbto" contenteditable="true"> </td>
    <td class="tg-lsca">REPORT STATUS</td>
    <td class="tg-wbto" contenteditable="true"> </td>
    <td class="tg-lsca" colspan="2">  </td>
  </tr>
  <tr>
    <td class="tg-lsca" colspan="4">MATERIAL BALANCE AREA</td>
    <td class="tg-wbto" contenteditable="true"> </td>
    <td class="tg-lsca">ENCODER NAME</td>
    <td class="tg-wbto" contenteditable="true"> </td>
    <td class="tg-lsca" colspan="2">  </td>
  </tr>
  <tr>
    <td class="tg-m365" colspan="9"></td>
  </tr>
  <tr>
    <td class="tg-6qt4">ENTRY NO.</td>
    <td class="tg-6qt4">ENTRY STATUS</td>
    <td class="tg-6qt4">TO REPORT NUMBER</td>
    <td class="tg-6qt4">TO ENTRY NUMBER</td>
    <td class="tg-t5xj" colspan="5">TEXT OF CONCISE NOTE (max. 2000 characters)</td>
  </tr>
  <tr>
    <td class="tg-za14" contenteditable="true"></td>
    <td class="tg-za14" contenteditable="true"></td>
    <td class="tg-pb0m" contenteditable="true">  </td>
    <td class="tg-za14" contenteditable="true"></td>
    <td class="tg-za14" colspan="5" contenteditable="true"></td>
  </tr>
</tbody>
</table></div>


</body>
</html>
